.Button {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: white; 
  color: black; 
}
